.tooltip {
  cursor: default;
  pointer-events: none;
  z-index: 9999;
  inset: auto auto 0px 0px;
  position: absolute;
  width: max-content;
  &.show {
    opacity: 1;
  }
  &.toolTipOverlayZindexCSS {
    z-index: 10003;
  }

  .tooltip-inner {
    @include color($bg: $tooltip-bg-color);
    // font-family: $rs-font-light;
    border-radius: 5px;
    font-size: 12px;
    letter-spacing: 0.5px;
    line-height: normal;
    padding-bottom: 6px;
  }
  &.bs-tooltip-top .tooltip-arrow::before,
  &.bs-tooltip-auto[data-popper-placement^="top"] .tooltip-arrow::before {
    border-top-color: $tooltip-bg-color;
  }
  &.bs-tooltip-bottom .tooltip-arrow::before,
  &.bs-tooltip-auto[data-popper-placement^="bottom"] .tooltip-arrow::before {
    border-bottom-color: $tooltip-bg-color;
  }
  &.bs-tooltip-start .tooltip-arrow::before,
  &.bs-tooltip-auto[data-popper-placement^="left"] .tooltip-arrow::before {
    border-left-color: $tooltip-bg-color;
  }
  &.bs-tooltip-end .tooltip-arrow::before,
  &.bs-tooltip-auto[data-popper-placement^="right"] .tooltip-arrow::before {
    border-right-color: $tooltip-bg-color;
  }
}
//}
